/*header s*/
.header {
	width: 100%;
	height: 30px;
	background-color: #F6F6F5;
}
.h-left {
	width: 30%;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
}
.h-left select {
	border: none;
	background-color: #F6F6F5;
}
@media screen and (min-width: 1000px) {
	.header .minscreen {
		display: none;
	}
	.h-right {
	width: 62%;
	height: 30px;
	float: left;
}
.h-right {
	margin-left: 10px;
}
.h-right ul>li {
	width: 11%;
	height: 30px;
	text-align: center;
	float: left;
	line-height: 30px;
	font-size: 12px;
	margin-right: 3px;
	/*transition: all 1s;*/
}
.h-right ul>li:nth-child(2) {
	width: 8%;
}
.h-right ul.dl::after {
	content: "";
	display: block;
	clear: both;
}

.h-right ul>li a {
	color: #9A9691;
	text-decoration: none;
}
.h-right ul>li a .icon,.icon0,.icon1 {
	font-size: 18px;
	margin-bottom: 2px;	
}
.h-right ul>li a:hover {
	color: #FF006E;
}
.h-right ul>li:hover {
	border-bottom: none;
	background-color: #fff;
}
.h-right ul>li.tm a i.icon1 {
   display: inline-block;
}
.h-right ul>li.tm:hover a i.icon1 {
    transform: rotate(180deg);
}
.h-right ul li a .icon {
	color: #FF006E;
}
.h-right ul.dl .tm div.shangp {
	border: 1px solid #F3F3F3;
	border-top: none;
	background-color: #fff;
	width: 83px;
	height: 100px;
	text-align: center;
	position: absolute;
    display: none;
    z-index: 300;
}
.h-right ul.dl .tm div.shangp span {
	display: inline-block;
}
.h-right ul.dl li.tm:hover >div.shangp {
	display: block;
}
.h-right ul.dl div.shangp:hover {
    display: block;
}
.h-right ul>li.tm1 a i.icon1 {
   display: inline-block;
}
.h-right ul>li.tm1:hover a i.icon1 {
    transform: rotate(180deg);
}
.h-right ul.dl .tm1 div.shangp1 {
	border: 1px solid #F3F3F3;
	border-top: none;
	background-color: #fff;
	width: 83px;
	height: 100px;
	text-align: center;
	position: absolute;
    display: none;
    z-index: 200;
}
.h-right ul.dl .tm1 div.shangp1 span {
	display: inline-block;
}
.h-right ul.dl li.tm1:hover >div.shangp1 {
	display: block;
}
.h-right ul.dl div.shangp1:hover {
    display: block;
}
}
@media screen and (max-width: 1000px) {
	div.header .f-right ul{
		display: none;
	}
	div.header .minscreen ul>li {
		display: inline-block;
		float: left;
		width: 30px;
		height: 30px;
		float: left;
		line-height: 30px;
		font-size: 12px;
		margin-right: 3px;

	}
	div.header .minscreen ul>li a{
		color: #9A9691;
		text-decoration: none;
	}
}

/*header e*/
/*logo s*/
.center {
	width: 980px;
	margin: 0 auto;
}
.lg {
	height: 80px;
	z-index: 10px;
}
.lg .logo {
	float: left;
	width: 15%;
	height: 60px;
	line-height: 60px;
	margin-top:15px;
	margin-top: 5px;
	text-align: center;
}
.lg .logo  img {
	width: 90%;
	height: 60px;
}
.lg .logo p {
	margin-top: 2px;
	letter-spacing: 3px;
	font-size: 10px;
	color: #76746F;
}
.zhengpin {
	width: 30%;
	height: 80px;
	float: left;
	line-height: 80px;
   /* margin-left: 10px;*/
}
.zhengpin ul li {
	height: 80px;
	display: inline-block;
	margin-right: 3px;
}
.zhengpin ul li img {
	margin-right: 3px;
}
.sousuo {
	width: 30%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	float: left;
	position: relative;
	margin-left: 55px;
	z-index: 10;

}
.sousuo input {
	width: 90%;
	height: 35px;
	text-indent: 2em;
	border: 1px solid black;
	border-radius: 6px;
}
.sousuo i {
    position: absolute;
    right: 26px;
    top: 2px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.gouwudai {
	width: 15%;
	height: 30px;
	background-color: #F8F8F7;
	float: right;
	margin: 20px 5px 0 ;
	text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.gouwudai i {
	font-size: 20px;
}
.gouwudai .shuzi {
	display: inline-block;
	width: 25px;
	height: 18px;
	background-color: #FF0062;
	color: #fff;
	border-radius: 10px;
}
/* logo e*/
/*nav s*/
.nav {
	width: 100%;
	height: 40px;
	background-color: #FF0063;
	position: sticky;
	top:0px;
	z-index: 1000;
}
.nav .nav-  {
	width: 88%;
	height: 40px;
	float: left;
}
.nav .nav- .nan{
	width: 55%;
	height: 40px;
	line-height: 40px;
	margin-left: 185px;
	float: left;
}
.nav .nav- .nan ul li {
	display: inline-block;
	width: 50px;
	margin-left: 5px;
}
.nav .nav-  .nan ul li a {
     font-size: 17px;
     color: #fff;
     transition: font-size  1s;
     text-decoration: none;
}
.nav .nav-  .nan ul li a:hover {
    font-size: 18px;
    font-weight: bold;
}
.nav .nav- .fenlei {
    float: left;
    width: 15%;
    height:40px;
    line-height: 40px;
    margin-left: 150px;
}
.nav .nav- .fenlei p {
	display: inline-block;
	margin-right: 10px;
	font-size: 17px;
	color: #fff;
	margin-right: 25px;
}
.nav .nav- .fenlei p img {
	margin-right: 3px;
	vertical-align: middle;
}
/*nav e*/
/*tu s*/
.datu {
	margin-top: 30px;
	height: 400px;
	background: rgba(255,255,0,0.3);
	box-shadow: 0 0 30px #fff;
	text-align: center;
	padding: 13px 0 0 18px;
}
.datu .tu {
	width:98%;
	height: 340px;
	line-height: 350px;
	/*animation: tu 8s 0.5s infinite linear;*/

}
/*@keyframes tu {
	0%,30%{
		background:url(../images/qingren.jpg) no-repeat;
	}30%, 70% {
		background:url(../images/qingren1.jpg) no-repeat;
	}70%,100% {
		background:url(../images/tu1.jpg) no-repeat;
	}
}*/
.datu .tu img {
	margin: 15px 0 0 15px;
	width: 950px;
	height: 350px;
	transition:width height  1s;
}
.datu .qixi {
	width: 98%;
	height: 45px;
}
.datu .qixi ul li {
	display: inline-block;
	width: 23%;
	height: 25px;
	margin-top: 23px;
}
.datu .qixi ul li:hover {
	border-bottom: 2px solid #FF004E;
}
.datu .qixi ul li a {
	color: #63675D;
	font-size: 12px;
	transition: font-size  color 1s;
	text-decoration: none;
}
.datu .qixi ul li a:hover {
	color: #FF004E;
	font-size: 13px;
}
/*datu e*/
/*title s*/
.title {
	height: 616px;
	border: 0.5px solid #ccc;
	margin-top:2px;
}
.title .t-top {
	width: 100%;
	height: 40px;
	text-align: center;
}
.title .t-bottom {
	width: 100%;
}
.title .t-bottom .nao {
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.title .t-bottom .nao .miao {
	float: left;
}
.title .t-bottom .nao .miao span {
	font-size: 20px;
}
.title .t-bottom .nao .miao img {
	vertical-align: middle;
	margin-bottom: 8px;
}
.title .t-bottom .nao .ull {
}
.title .t-bottom .nao .ull ul li {
	font-size: 16px;
	float: right;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
}
.title .t-bottom .nao .ull ul li a {
	color: black;
	text-decoration: none;
}
.title .t-bottom .nao .ull ul li:hover {
	background-color: #FF0065;
	border-radius: 30%;
}
.title .t-bottom .big {
	width: 100%;
	height: 535px;
	float: left;
}
.title .t-bottom .big .b-left {
	width:29%;
	height: 535px;
	float: left;
}
.title .t-bottom .big .b-left img{
	width: 100%;
	height: 535px;
}
.title .t-bottom .big  .b-right {
	margin-left: 2%;
   float: left;
   width: 69%;
   height: 535px;
   text-align: center;
}
.title .t-bottom .big  .b-right ul li {
	margin-right: 1%;
	width: 22%;
	height: 48%;
	text-align: center;
	display: inline-block;
}
.title .t-bottom .big  .b-right ul li p {
	margin: 10px 0 10px;
}
.title .t-bottom .big  .b-right ul li p.p1 {
	font-size: 14px;
}
.title .t-bottom .big  .b-right ul li p.p2 {
	color: #FF0069;
}
.title .t-bottom .big  .b-right ul li p.p2 span {
	font-size: 18px;
}
.title .t-bottom .big  .b-right ul li p.p2 s{
	color: #9D9091;
}
.tuu {
	height: 460px;
	text-align: center;
}
.tuu img {
	margin-top:4px;
}
.tuuu {
	height: 250px;
}
.tuuu .hua {
	height: 60px;
    text-align: center;
}
.tuuu .hua img {
	margin-top: 7px;
}
.tuuu .hua span {
	color: #FF2B4E;
	font-size: 20px;
	font-weight: 500;
	text-shadow: 0 0 5px #FF6582;
}
.tuuu .lang {
	height: 185px;
	line-height: 185px;
	text-align: center;
	border: 1px solid #E9E7E4;
	border-top: none;
}

.tuuu .lang ul li {
	display: inline-block;
	width: 30%;
	height: 170px;
	margin-right: 20px;
	margin-left: 9px;
	margin-top: 7px;
	transition: width height  border  2s;
}
.tuuu .lang ul li:hover {
	width: 30.1%;
	height: 170.3px;
}
.tuuu .lang ul li img {
	width: 300px;
	height: 170px;
}
.mein {
	height: 380px;
	border: 1px solid #E9E7E4;
	border-bottom: none;
	border-top: none;
	margin-top: -3px;
	display: flex;
}
.mein div {
	flex: 1;
	height: 320px;
	margin-left: 10px;
	transition: width height  border  2s;
}
.mein div:hover {
	height: 320.5px;
}
.mein div:nth-child(1),.mein div:nth-child(3) {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #E9E7E4;
}
.mein div img {
	height: 300px;
	width: 280px;
	margin-right: 26px;
}
.mein .two {
	text-align: center;
	font-size: 20px;
	padding-top: 18px;
}
.mein .two p:nth-child(2) {
	font-size: 12px;
	color: #CFCBC6;
}
.mein .two p span {
   font-weight: bold;
}
.liebiao {
	width: 80px;
	height: 700px;
	position: fixed;
	left: 80px;
	top: 200px;
	text-align: center;
	border: 1px solid #CCCBCC;
}
.liebiao ul li {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #CCCBCC;
}
.liebiao ul li:first-child {
	background-color: #FF0063;
}
.liebiao ul li a {
	display: block;
	color: #636451;
	text-decoration: none;
}
.liebiao ul>li:hover {
	color: #FF0063;
}
.liebiao ul li  a b.b1 {
	display: inline-block;
	width: 21px;
	height: 20px;
	background: url(../images/sprite.png) 0 0;
	vertical-align: middle;
}
.liebiao ul li  a b.b2 {
	display: inline-block;
	width: 20px;
	height: 21px;
	background: url(../images/sprite.png) -1px -28px;
	vertical-align: middle;
}
.liebiao ul li  a b.b3 {
	display: inline-block;
	width: 21px;
	height: 22px;
	background: url(../images/sprite.png) -1px -52px;
	vertical-align: middle;
}
.liebiao ul li  a b.b4 {
	display: inline-block;
	width: 21px;
	height: 22px;
	background: url(../images/sprite.png) -1px -76px;
	vertical-align: middle;
}
.liebiao ul li  a b.b5 {
	display: inline-block;
	width: 21px;
	height: 23px;
	background: url(../images/sprite.png) -1px -102px;
	vertical-align: middle;
}
.liebiao ul li  a b.b6 {
	display: inline-block;
	width: 21px;
	height: 25px;
	background: url(../images/sprite.png) -2px -128px;
	vertical-align: middle;
}
.liebiao ul li  a b.b7 {
	display: inline-block;
	width: 21px;
	height: 25px;
	background: url(../images/sprite.png) -2px -156px;
	vertical-align: middle;
}
.liebiao ul li  a b.b8 {
	display: inline-block;
	width: 21px;
	height: 22px;
	background: url(../images/sprite.png) -2px -185px;
	vertical-align: middle;
}
.liebiao ul li  a b.b9 {
	display: inline-block;
	width: 21px;
	height: 23px;
	background: url(../images/sprite.png) -2px -209px;
	vertical-align: middle;
}
.right {
	width: 30px;
	height: 700px;
	background-color: #2E2E2E;
	position: fixed;
	right: 0;
	top: 140px;
	color:#fff;
}
.right .zhang {
	height: 60px;
	color:#fff;
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
	position: relative;
}
.right .gouwu{
	height:120px;
	font-size: 16px;
	margin: 10px 0 0 0;
	background-color: #FF0064;
	padding-left: 6px;
}
.right .gouwu i {
	font-size: 20px;
}
.right .sige {
	padding: 15px 0 0 6px;
}
.right .sige img.im1:hover + p.quan1 {
	width: 120px;
	height: 34px;
    transition: all 0.3s linear;
}
.right .sige p.quan1{
   color: black;
   border-radius: 3px 0 0 3px;
   background-color: #fff;
   width: 0;
   height:0;
   line-height: 34px;
   border: 1px solid #ddd;
   border-right: none;
   font-size: 14px;
   text-align: center;
   overflow: hidden;
   position: absolute;
   right: 30px;
   top: 245px;
}
.right .sige img.im2:hover + p.quan2 {
	width: 120px;
	height: 34px;
    transition: all 0.3s linear;
}
.right .sige p.quan2{
   color: black;
   border-radius: 3px 0 0 3px;
   background-color: #fff;
   width: 0;
   height:0;
   line-height: 34px;
   border: 1px solid #ddd;
   border-right: none;
   font-size: 14px;
   text-align: center;
   overflow: hidden;
   position: absolute;
   right: 30px;
   top: 290px;
}
.right .sige img.im3:hover + p.quan3 {
	width: 120px;
	height: 34px;
    transition: all 0.3s linear;
}
.right .sige p.quan3{
   color: black;
   border-radius: 3px 0 0 3px;
   background-color: #fff;
   width: 0;
   height:0;
   line-height: 34px;
   border: 1px solid #ddd;
   border-right: none;
   font-size: 14px;
   text-align: center;
   overflow: hidden;
   position: absolute;
   right: 30px;
   top: 330px;
}
.right .sige img.im4:hover + p.quan4 {
	width: 120px;
	height: 34px;
    transition: all 0.3s linear;
}
.right .sige p.quan4{
   color: black;
   border-radius: 3px 0 0 3px;
   background-color: #fff;
   width: 0;
   height:0;
   line-height: 34px;
   border: 1px solid #ddd;
   border-right: none;
   font-size: 14px;
   text-align: center;
   overflow: hidden;
   position: absolute;
   right: 30px;
   top: 380px;
}
.right .sige img {
	padding-top: 25px;
}
.right .icon5 {
	font-size:28px;
	color: #fff;
}
.right .jtop a:hover +p.fanhui {
	width: 120px;
	height: 34px;
    transition: all 0.3s linear;
}
.right .jtop p.fanhui{
   color: black;
   border-radius: 3px 0 0 3px;
   background-color: #fff;
   width: 0;
   height:0;
   line-height: 34px;
   border: 1px solid #ddd;
   border-right: none;
   font-size: 14px;
   text-align: center;
   overflow: hidden;
   position: absolute;
   right: 30px;
   top: 440px;
}
.mein1 {
	height: 600px;
	border: 1px solid #E9E7E4;	
}
.mein1 ul li {
	display: inline-block;
	height: 283px;
	width: 46%;
    margin: 10px;
    margin-left: 15px;
    transition: width height  border  1s;
}
.mein1 ul li:hover {
	width: 46.3%;
	height: 283.5px;
}
.mein1 ul li img {
	width: 456px;
	height: 282px;
}
/*footer s*/
.footer- {
	height:400px;
}
.footer- .tu {
	width: 100%;
	height: 150px;
	text-align: center;
}
.footer- .tu ul li {
	float: left;
	width: 8%;
	height:10px;
	margin: 35px 0 0 18px;
}
.footer- .tuitui {
	width: 100%;
	height: 130px;
	margin-top: 20px;
}
.footer- .tuitui .tui1 {
	font-size: 14px;
	padding-left: 10px;
}
.footer- .tuitui .tui1 dl dt {
	font-weight: bolder;
	margin:0 0 10px 25px;
}
.footer- .tuitui .tui1 dl dd {
	list-style:square;
}
.footer- .tuitui div {
	float: left;
	width: 15.5%;
	height: 210px;
	border-right: 1px solid #EDECEA;
}
.footer- .tuitui div:nth-child(6) {
	text-align: center;
	border-right:none;
	margin-left: 25px;
	padding-left: 10px;
}
.footer- .tuitui div p{
	margin: 10px 0;
}
.guanyu {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #FF0065;
}
.guanyu ul li {
	display: inline-block;
	width: 7%;
	
}
.guanyu ul li:nth-child(3) {
	width: 13%;
}
.guanyu ul li:nth-child(2) {
	width: 8%;
}
.guanyu ul li a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}
.zz {
	height: 100px;
	text-align: center;
}
.zz p {
	margin-top: 10px;
}
.zz p a {
	color: black;
}
.ztu {
	height: 60px;
	text-align: center;
}
.ztu img {
	height: 40px;
	width: 75%;
	margin-top: 10px;
}
/*footer e*/
